[submodule "SDEngine/ThirdParty/spdlog"]
	path = SDEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SDEngine/ThirdParty/imgui"]
	path = SDEngine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SDEngine/ThirdParty/yaml-cpp"]
	path = SDEngine/ThirdParty/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git